.body_container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.swipe {
  position: absolute;
  z-index: -1;
}

@media only screen and (min-width: 480px) {
  .body_container {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .card {
    padding: 1px;
    max-width: 115vw;
    height: 60vh;
    background-size: cover;
    background-position: center center;
  }
  .footer {
    bottom: 35px;
  }
  .repaly.MuiIconButton-sizeSmall {
    size: small;
  }
  .favorbg {
    margin-left: 20%;
    margin-right: 20%;
  }
  .favoribg > span {
    font-size: 27px;
  }
  .card > span {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .body_container {
    margin-top: 13vh;
    margin-bottom: 5vh;
  }
  .card {
    padding: 3px;
    max-width: 85vw;
    min-width: 65vw;
    height: 61vh;
    background-size: cover;
    background-position: center center;
  }
  .footer {
    bottom: 6vh;
  }
}
